header {
	height: 100vh
}

header{
	background: url(img/bg.jpg) 50% 50% no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	background-size: cover;
}
nav{
	width: 100%;
	background-color: #646464
}
nav .brand-logo{
	padding-left: 20px;
}

nav ul li a:hover {
	border-bottom: 3px solid #fcac45;
}

header h1 , p {
	/* color: #999999; */
}
i.material-icons {
	font-size: 50px
}
header span {
	color: #fcac45;
	text-transform: uppercase;
}

.motto {
	margin-top: 210px;
	color: #fff;
	padding-bottom: 210px;
}

.motto p{
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px
}

.motto h4{
	margin: 0;
	text-transform: uppercase;
}

.about-us {
	margin-top: 100px;
}

/*.about-us img {
	overflow-x: auto;
}*/

.about-us ul{
	list-style: url(img/circle.png);
}

.about-us hr {
	color: #fcac45;
	background-color: #fcac45 !important;
	height: 4px;
}

.about-us p {
	margin-top: 35px;
	margin-bottom: 50px;
}

.about-us img {
	/*width: 100%*/
}

.team {
	background-color: #070707;
	color: white;
	padding-top: 100px;
	padding-bottom: 150px;
}

.team p {
	color: white;
}

.team h3 {
	color: #fff;

}

.orange_line {
	background-color: grey !important;
	border: none;
	height: 4px;
	width: 100px;
	margin-bottom: 60px;
}

/*.team hr {
	color: #fcac45;
	background-color: #fcac45 !important;
	height: 4px;
	width: 100px;
	margin-bottom: 107px;
}*/

.work {
	padding: 40px 0;
	background-color: #f4f4f4;
}

.small {
	font-size: 20px !important
}

.work p i{
	color: #000;
  font-weight: 300;
}

.work  .row {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.work .row1 {
	margin-top: 60px;
}

.work .row1 .item{
	margin-right: 30px
}

.work .row1 .item:last-child{
	margin-right: 0
}

.work .row1 .item i {
}

.work .row1 .item img {
	width: 50px;
	height: 50px
}

.work  .row .item {
	width: 22%;
	font-size: 18px;
	padding: 20px
}

.work  .row .item i {
	text-align: center;
}

.work  .row .flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap
}

.work  .row p {
	color: black;
}

.our_services {
	background-color: #f4f4f4;
	padding-top: 40px;
	padding-bottom: 40px;
}

.our_services p {
	font-size: 20px
}

.our_services .sell_intrnt {
	margin-top: 30px;
	width: 82%;
	margin: 0 auto;
}
.our_services .sell_intrnt p{
	color: #000;
}

.our_services .benifits {
	margin-top: 70px
}

.our_services .benifits .list{
	display: flex;
}

.our_services .benifits .list ul{
	line-height: 2;
	margin: 0 auto;
	margin-top: 40px;
	font-weight: 300;
	font-size: 18px
}

.advantages {
	background-color: #646464;
	color: #fff;
	padding: 40px 0
}

.advantages i{
	color: #fff
}
.advantages img svg{
 height: 30px;
 width: 30px;
 fill: white
}

.advantages h3{
	/* margin-bottom: 40px;
	margin-top: 40px; */
}

.advantages .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.advantages .row .item {
	width: 27%;
	margin-top: 40px;
	margin-right: 20px;
}

.advantages .row .item .title {
	font-size: 20px;
	font-weight: 500;
}

.advantages .row .item p {
	font-weight: 300
}

.court{
	background-color: #f4f4f4;
	padding: 40px 0
}

.court h4 {
	margin-top: 60px;
}

.court .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
.court .row .item {
	width: 18%;
	margin-right: 20px;
}
.court .row .item:last-child {
	margin-right: 0
}

.court .row .item p{
	font-weight: 300;
}

.conditions {
	background-color: #646464;
	color: #fff;
	padding: 40px 0
}

.conditions .item {
	width: 70%;
	margin: 0 auto;
}

.conditions .item .title {
	font-size: 30px;
	font-weight: bold;
}

.conditions .item p {
	font-weight: 300
}

.become-simple {
	background-color: #646464;;
	padding-top: 40px;
	padding-bottom: 40px
}

.become-simple p {
	font-size: 19px;
	color: #fff;
	font-weight: 300
}

.become-simple h3 {
	color: #fff;
}

.become-simple .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.become-simple .row img {
	width: 100%
}

.works {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f4f4f4
}

.works ul {
	line-height: 2
}

.works p {
	font-size: 12px
}

.works .row .col {
	padding: 0;
}

.feedback {
	background-color: #646464;
	padding-top: 40px;
	padding-bottom: 40px;
}

.feedback p {
	color: #fff;
	font-weight: 300
}

.feedback h3 {
	color: #fff;
	text-transform: uppercase;
}

.feedback #t_uppr{
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 30px
}

.feedback .row {
	color: #fff
}

.feedback .questions{
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	margin-top: 40px
}

.contacts {
	padding-top: 20px;
	padding-bottom: 70px;
}

.contacts input.button {
	padding: 10px 20px;
	background-color: grey;
	border: none;
	float: right;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 3px;
	transition: .4s;
	cursor: pointer;
}

.contacts input.button:hover {
	background-color: lightgrey;
	color: black
}

input:focus {
	box-shadow: 0 1px 0 0 #8d8d8d !important;
}

#message {
	height: 150px;
	border: 1px solid #8d8d8d !important;
}

#message:focus {
	box-shadow: 0 1px 0 0 #8d8d8d !important;
}

.contacts form a {
	width: 150px
}

footer {
	background-color: #000;
	color: #fff
}

footer .d-flex {
	display: flex;
	align-items: center;
}

footer .item {
	margin-top: 20px
}

footer .item i {
	margin-right: 10px
}

footer .row {
	padding: 40px 0
}

footer .row .item {
	margin-right: 10px;
}

footer .row .item:hover {
	opacity: 0.5;
	cursor: pointer;
}

footer .row .item:last-child {
	margin-right: 0;
}







@media (min-width: 320px) {
	.welcome {
		margin-top: 150px;
	}

	.welcome h1 {
		font-size: 3.2rem
	}

	.become-simple .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;
	}

}

@media (min-width: 600px) {
	.welcome h1 {
		font-size: 4.2rem
	}

	.about-us .row img {
		width: 70%
	}
}


@media screen and (min-width: 993px) {
	.about-us .container {
		width: 100%
	}
}


@media (max-width: 600px) {

	header .motto {
		margin-top: 100px;
		padding-bottom: 100px;
	}

	nav .brand-logo {
    padding-left: 0px;
	}

	p, ul {
		font-size: 12px !important
	}

	h3 {
		font-size: 1.92rem
	}

	.orange_line {
		margin-bottom: 0
	}

	.work {
		padding: 20px 0
	}

	.become-simple {
		padding: 20px 0
	}

	.work .row1 {
		margin-top: 0;
	}

	.work .row .item {
		width: 50%;
		font-size: 12px;
		margin-right: 0
	}

	.feedback {
		padding: 20px 0
	}

	.feedback #t_uppr {
		margin-bottom: 0;
	}

	.our_services .benifits {
    margin-top: 40px;
	}

	.our_services .benifits .list ul {
		margin-top: 30px
	}

	.advantages {
		padding: 20px 0
	}

	h3 {
		margin: 0 !important
	}

	.advantages .row {
		margin-top: 20px;
	}

	.advantages .row .item {
		margin-right: 0;
		width: 51%;
		font-size: 12px;
		margin-top: 10px;
	}

	.court {
		padding: 20px 0
	}

	.court h3 {
		margin: 0 !important
	}

	.court .row {
		margin-top: 30px
	}

	.court .row .item {
		margin-right: 0;
		margin-top: 10px;
		width: 50%;
		font-size: 12px;
	}

	.conditions{
		padding: 20px 0
	}

	.conditions .item {
		width: 100%
	}

	.contacts {
		padding-top: 20px;
		padding-bottom: 50px
	}

	.contacts form {
		margin-top: 20px
	}

	footer {
		padding: 30px 30px
	}

	footer .row .item {
		margin-right: 0;
	}

}
